name: TW Stock Genius

on:
  schedule:
    - cron: "*/30 * * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run TW AI
        run: python repos/Stock-Genius-System/scripts/ai_tw_post.py
